.offer-card {
  margin: 2rem auto;
  padding: 1rem;

  mat-card-title {
    font-size: 1.25rem;
    font-weight: 600;
  }

  mat-card-content {
    font-size: 0.95rem;
    line-height: 1.6;
  }
}

.skeleton-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
